@media only screen and (min-width: 992px) and (max-width: 1200px){
    .area{
        width: 970px;
    }
    .menu{
        width: 650px;
    }
    .single_service{
    	width: 303px;
    }
    .service_page .single_service {
    width: 293px;
	}
	.single_service:last-child, .service_page .single_service:nth-child(4){
		margin-right: 30px;
	}
	.single_gallery {
    width: 220px;
	}
    .about_left{
    	width: 685px;
    }
    .about_menu{
    	width: 255px;
    }
    .about_left h4, .about_menu h4{
    	font-size: 26px;
    }
    .contact_form {
    width: 610px;
	}
	.contact_form h4, .contact_address h4 {
    font-size: 30px;
    margin-bottom: 35px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px){
	.area{
        width: 750px;
    }
    .logo {
    	width: 110px;
	}
	.menu {
    width: 500px;
	}
	.menu ul li a {
    font-size: 16px;
    padding: 10px;
	}
	.single_service{
    	margin-right: 15px;
    	width: 240px;
    }
    .single_service h4 {
    font-size: 20px;
    margin-bottom: 15px;
	}
	.about_left {
    width: 540px;
    margin-right: 20px;
	}
	.about_menu {
    width: 190px;
	}
	.about_left h4, .about_menu h4 {
    font-size: 22px;
    margin-bottom: 15px;
	}
	.contact_address {
    width: 100%;
    margin: 30px 0;
	}
	.single_gallery {
    width: 165px;
	}
	.service_page .single_service {
    width: 240px;
	}
	.service_page .single_service:nth-child(3), .service_page .single_service:nth-child(6), 
	.service_page .single_service:nth-child(8){
		margin-right: 0px;
	}
	.service_page .single_service:nth-child(4){
		margin-right: 15px;
	}

}
@media only screen and (max-width: 767px){
	.area{
		width: 320px;
	}
	.menu ul li {
    display: block;
	}
	.menu, .about_left, .about_menu {
    width: 100%;
	}
	.about_left{
		margin-bottom: 30px;
	}
	.menu ul {
    text-align: left;
	}
	.title h4{
		font-size: 28px;
		margin: 25px 0;
	}
	.single_service {
    width: 100%;
    margin-bottom: 30px;
	}
	.about_left h4, .about_menu h4 {
    font-size: 22px;
    margin-bottom: 10px;
	}
	.service_page .single_service {
    width: 100%;
	}
	.single_gallery {
    width: 100%;
	}
	.page_banner h2 {
    font-size: 40px;
    line-height: 45px;
	}
	.contact_address {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
	}
	.contact_form {
    margin-right: 0px;
    width: 100%;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.area{
		width: 450px;
	}
}